[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramin2c
[access "refs/for/refs/*"]
	read = group user/Ramin2c
	push = group user/Ramin2c
	label-Code-Review = -2..+2 group user/Ramin2c
	label-Verified = -1..+1 group user/Ramin2c
	rebase = group user/Ramin2c
	removeReviewer = group user/Ramin2c
	submit = group user/Ramin2c
[access "refs/heads/*"]
	read = group user/Ramin2c
	create = group user/Ramin2c
	push = +force group user/Ramin2c
	pushMerge = group user/Ramin2c
[access "refs/tags/*"]
	push = group user/Ramin2c
	push = +force group user/Ramin2c
